/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left,
.right {
    width: 48%;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 0 10px; /* Equal amount of margin on both sides */
    }
    
    .left,
    .right {
        width: calc(100% - 20px); /* Adjust width to account for margins */
        margin: 10px 0; /* Add vertical margin */
    }
}

/* Left Section (PDFs) */
.left {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    color: #333; /* Ensure text color stays the same */
}

.item img {
    width: 120px; /* Adjust image size */
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.item span {
    font-size: 24px; /* Adjust text size */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

/* Right Section (Incoming Exams) */
.right {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

#incomingExams {
    list-style-type: none;
    padding: 0;
}

#incomingExams li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.exam-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.exam-day,
.exam-date,
.remaining-time {
    font-size: 16px;
    color: #666;
}
